body {
  margin: 20px;
  background-image: url(../image/pic2.jpg);
  background-repeat: repeat;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
}

h1:hover {
  color: rgb(173, 33, 33);
}

.hov1:hover {
  color: rgb(145, 26, 26);
}

.head {
  color: rgb(255, 255, 255);
}

#menu {
  font-family: "Roboto mono";
  text-transform: uppercase;
}

.linear {
  height: 500px;
  width: 500px;
  background: linear-gradient(90deg, rgb(68, 102, 85), rgb(5, 22, 14));
}

.radial {
  height: 500px;
  width: 500px;
  background: radial-gradient(circle, lightblue 45%, darkgreen 55%);
}
